<% include partials/header %>

                
            <div class="hero-text-box">
                <div>
                    <h1>Rothenberg Law Office, PLLC</h1>
                </div>
                <hr>
                <div>
                    <ul class="slogan">
                        <li>Experience You Can Trust</li>
                    </ul>
                </div>
                <!--<a href="#" class="btn btn-full btn-question">Questionnaire</a>-->
            </div>
        </header>
    </div>
        
        <section class="section-about js-wp-about" id="about">
             <h2>About Rothenberg Law Offices</h2>
           
            <div class="container">
                    <p>
                        You can protect your rights and your interests with the help of a lawyer from the Rothenberg Law Office in Bohemia, NY. Since 1989, we've been assisting clients like you who want someone to guide them through the process. We've brought or defended cases before the New York State Supreme Court and New York Surrogates Court.
                    </p>
                    <div class="p-break">
                        <i class="handshake outline icon"></i>
                        <i class="balance scale icon"></i>
                        <i class="hourglass outline icon"></i>
                    </div>
                        <p>
                        Our goal will be to give your case the kind of personal attention it deserves. We have the resources to tackle legal issues of any scope or complexity in the courtroom or in the boardroom. When you choose us, we'll provide you with individual guidance so that you can make informed decisions. 
                        </p>
            </div>
        </section>
        
        <section class="section-practices js-wp-practices" id="services">
            <div class="top">
                <ul class="services">
                    <li id="wills">Wills, Trusts & Estates Law</li>
                    <li>Real Estate Law</li>
                    <li>Probate Law</li>
                    <li>Estate Litigation</li>
                    <li>Business Law</li>
                    <li id="bankruptcy">Bankruptcy Law</li>
                </ul>
            </div>
            <div class="container">
                <div class="left-bar">
                  <i class="chevron left icon"></i>  
                </div>
                <div class="middle-content">
                        <div class="box box-one">
                            <h6 class="service-title"><i class="address book outline icon"></i><%= services[0].title %></h6>
                            <p><%= services[0].content[0] %></p>
                        </div>
                        <div class="box"><p><%= services[0].content[1] %></p></div>
                        <div class="box"><p><%= services[0].content[2] %></p></div>
                        <div class="box"><p><%= services[0].content[3] %></p></div>    
                </div>
                <div class="right-bar">
                    <i class="chevron right icon"></i>
                </div>
            </div>
        </section>
        <section class="section-phrase">
            <h2> Give us a call</h2>
             <p>
                Instead of trying to work through a legal matter by yourself, allow a lawyer from 
                the Rothenberg Law Office to be by your side from start to finish. We're proud to 
                serve clients in the Greater Bohemia area, as well as Suffolk and Nassau Counties, 
                and we offer flexible appointment options. To set up a meeting, call us today.
            </p>
        </section>
       


<% include partials/footer %>